.border-box {
    border: 1px;
    border-style: solid;
    border-color: black;
    margin: 1em;
    padding: 1em;
    background-color: rgb(157, 250, 219);
}

.container-fluid {
    background-color: aqua;
}